*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 100px;
    width: 100%;
    background-color: #f8f9fa;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.instrucao1,
.instrucao2{
    width: 70%;
    margin: 40px 0px 20px 0px;
   
}*/

.instrucao1{
    display: none;
    width: 70%;
    margin: 40px 0px 20px 0px;
}



.instrucao2{
    width: 70%;
    margin: 5% 0 2% 22%;
}

.instrucaoMobile{
    display: none;
}

.leitura {
    width: 70%;
    height: 100px;
    border: 2px gold dashed;
    margin: 0 0 0px 0px;
    display: none;
}

.digite{
    width: 70%;
    height: 30px;
    border: 1px solid lightslategray;
    margin: 0 0 0 0px;
}*/

/*.formulario{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 100%;
    height: 100%;
}

form{
    width: 73%;
    margin-left: 25%;
}


.codB{
    width: 60%;
    height: 30px; 
}



.botao{
    width: 50px;
    height: 30px;
}

.resultado{
    width: 100%;
    margin: 60px 0 20px 0px;
    text-align: center;
    font-size: 20px;
}

.ingredientes1,
.ingredientes2{
    margin: 20px 0 20px 0px;
}

.destaque{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    padding: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#16177a), to(#ffffff));
            background: -moz-linear-gradient(top, #0d0f81, #ffffff);
            filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#b7be3a', EndColorStr='#fff');
}
#e15c5d

.destaque-contem{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    padding: 20px;
    background: -webkit-gradient(linear, left top, left bottom, frome(#0c5d), to(#ffffff));
            background: -moz-linear-gradient(top, #3a2caf, #ffffff);
            filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#e15c5d', EndColorStr='#fff');
}

.ingredientes2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demais{
    width: 45%;
    height: 100%;
    background-color: #f8f9fa;
    margin-top: 20px;
    padding: 20px;

}

.colunas{
    display: flex;
    align-content: center;
    flex-direction: row;
}

.ingredientesPessoal{
    width: 50%;
    height: 100%;
}



footer{
    background-color: grey;
}

@media only screen and (max-width: 700px){

    .instrucao1{
        display: block;
    }

    .instrucaoMobile{
        width: 100%;
        margin: 10% 0px 3% 30%;
        display: block;
        
    }

    .instrucao2{
        display: none;
    }

    .leitura {
        width: 70%;
        height: 100px;
        border: 2px gold dashed;
        margin: 0 0 0px 0px;
        display: block;
    }

    .leitura {
        width: 70%;
        height: 100px;
        border: 2px gold dashed;
        margin: 0 0 0px 0px;
    }

   

    form{
        width: 70%;
        margin-left: 0 auto;
    }
    
    
    .codB{
        width: 60%;
        height: 90px; 
    }
    
    
    .botao{
        width: 50px;
        height: 30px;
    }

    .ingredientes1{
        padding: 3%;
    }
    .demais{
        width: 100%;
        height: 100%;
        background-color: #f8f9fa;
        margin-top: 20px;
        padding: 20px;
    
    
}
